<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generated_MARKS</key>
	<array>
		<string>grmU</string>
		<string>grmUU</string>
		<string>grmUU.alt</string>
		<string>grmEE</string>
		<string>grmAI</string>
		<string>grmOO</string>
		<string>grmAU</string>
		<string>grBindi</string>
		<string>grTippi</string>
		<string>grVirama</string>
		<string>grNukta</string>
		<string>grAddak</string>
		<string>grAdakbindi</string>
		<string>grUdaat</string>
		<string>grYakash</string>
		<string>grVAc2</string>
		<string>grHAc2</string>
		<string>grmEE_Bindi</string>
		<string>grmAI_Bindi</string>
		<string>grmOO_Bindi</string>
		<string>grmAU_Bindi</string>
		<string>grmU.alt</string>
	</array>
</dict>
</plist>
