<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>F84B2E81-E30C-4BCF-B175-C3D49BDC99D5</key>
		<dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
		<key>GSOffsetHorizontal</key>
		<integer>-15</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetPosition</key>
		<integer>0</integer>
		<key>GSOffsetVertical</key>
		<integer>-12</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>F84B2E81-E30C-4BCF-B175-C3D49BDC99D5</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>200</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>-292</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-179</integer>
			<key>y</key>
			<integer>928</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>-321</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>844</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>grA</string>
		<string>grAA</string>
		<string>grI</string>
		<string>grII</string>
		<string>grU</string>
		<string>grUU</string>
		<string>grEE</string>
		<string>grAI</string>
		<string>grOO</string>
		<string>grAU</string>
		<string>grKA</string>
		<string>grKHA</string>
		<string>grGHA</string>
		<string>grNGA</string>
		<string>grCA</string>
		<string>grCHA</string>
		<string>grJA</string>
		<string>grJHA</string>
		<string>grNYA</string>
		<string>grTTA</string>
		<string>grTTHA</string>
		<string>grDDA</string>
		<string>grDDHA</string>
		<string>grNNA</string>
		<string>grTA</string>
		<string>grTHA</string>
		<string>grDA</string>
		<string>grDHA</string>
		<string>grNA</string>
		<string>grPA</string>
		<string>grPHA</string>
		<string>grBA</string>
		<string>grBHA</string>
		<string>grMA</string>
		<string>grYA</string>
		<string>grRA</string>
		<string>grLA</string>
		<string>grLxA</string>
		<string>grVA</string>
		<string>grSxA</string>
		<string>grSA</string>
		<string>grHA</string>
		<string>grKHxA</string>
		<string>grGxA</string>
		<string>grJxA</string>
		<string>grRRA</string>
		<string>grPHxA</string>
		<string>grIri</string>
		<string>grUra</string>
		<string>grEkonkar</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>uni208D</string>
		<string>uni208E</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>uni207D</string>
		<string>uni207E</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>uni2010</string>
		<string>uni2015</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>danda</string>
		<string>dbldanda</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2007</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>grNukta</string>
		<string>grmAI_Bindi</string>
		<string>grmAU_Bindi</string>
		<string>grBA_RAc2</string>
		<string>grBHA_RAc2</string>
		<string>grCA_RAc2</string>
		<string>grCHA_RAc2</string>
		<string>grDA_RAc2</string>
		<string>grDDA_RAc2</string>
		<string>grDDHA_RAc2</string>
		<string>grDHA_RAc2</string>
		<string>grmEE_Bindi</string>
		<string>grPHxA_RAc2</string>
		<string>grGA_RAc2</string>
		<string>grGHA_RAc2</string>
		<string>grGxA_RAc2</string>
		<string>grRAc2</string>
		<string>grHA_RAc2</string>
		<string>grHeadline</string>
		<string>grHeadline_Addak</string>
		<string>grHeadline_Bindi</string>
		<string>grHeadline_Visarga</string>
		<string>grmII_Bindi</string>
		<string>grJA_RAc2</string>
		<string>grJHA_RAc2</string>
		<string>grKA_RAc2</string>
		<string>grKHA_RAc2</string>
		<string>grLA_RAc2</string>
		<string>grLxA_RAc2</string>
		<string>grMA_RAc2</string>
		<string>grNA_RAc2</string>
		<string>grNGA_RAc2</string>
		<string>grNNA_RAc2</string>
		<string>grNYA_RAc2</string>
		<string>grmOO_Bindi</string>
		<string>grPA_RAc2</string>
		<string>grPHA_RAc2</string>
		<string>grRA_RAc2</string>
		<string>grRRA_RAc2</string>
		<string>grSA_RAc2</string>
		<string>grSxA_RAc2</string>
		<string>grTA_RAc2</string>
		<string>grTHA_RAc2</string>
		<string>grTTHA_RAc2</string>
		<string>grVA_RAc2</string>
		<string>grYA_RAc2</string>
		<string>grJxA_RAc2</string>
		<string>grHAc2</string>
		<string>grVAc2</string>
		<string>grTTA_RAc2</string>
		<string>grYAc2</string>
		<string>grmUU.alt</string>
		<string>grmU.alt</string>
		<string>grKHxA_RAc2</string>
		<string>grGA</string>
		<string>grZero</string>
		<string>grOne</string>
		<string>grTwo</string>
		<string>grThree</string>
		<string>grFour</string>
		<string>grFive</string>
		<string>grSix</string>
		<string>grSeven</string>
		<string>grEight</string>
		<string>grNine</string>
		<string>grAdakbindi</string>
		<string>grBindi</string>
		<string>grVisarga</string>
		<string>grmAA</string>
		<string>grmI</string>
		<string>grmII</string>
		<string>grmU</string>
		<string>grmUU</string>
		<string>grmEE</string>
		<string>grmAI</string>
		<string>grmOO</string>
		<string>grmAU</string>
		<string>grVirama</string>
		<string>grUdaat</string>
		<string>grTippi</string>
		<string>grAddak</string>
		<string>grYakash</string>
	</array>
</dict>
</plist>
