<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>F84B2E81-E30C-4BCF-B175-C3D49BDC99D5</key>
		<dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
		<key>GSOffsetHorizontal</key>
		<integer>-15</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetPosition</key>
		<integer>0</integer>
		<key>GSOffsetVertical</key>
		<integer>-12</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>F84B2E81-E30C-4BCF-B175-C3D49BDC99D5</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>200</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>-292</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-179</integer>
			<key>y</key>
			<integer>928</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>-321</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>locked</key>
			<true/>
			<key>x</key>
			<integer>-20</integer>
			<key>y</key>
			<integer>844</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>grA</string>
		<string>grAA</string>
		<string>grI</string>
		<string>grII</string>
		<string>grU</string>
		<string>grUU</string>
		<string>grEE</string>
		<string>grAI</string>
		<string>grOO</string>
		<string>grAU</string>
		<string>grKA</string>
		<string>grKHA</string>
		<string>grGHA</string>
		<string>grNGA</string>
		<string>grCA</string>
		<string>grCHA</string>
		<string>grJA</string>
		<string>grJHA</string>
		<string>grNYA</string>
		<string>grTTA</string>
		<string>grTTHA</string>
		<string>grDDA</string>
		<string>grDDHA</string>
		<string>grNNA</string>
		<string>grTA</string>
		<string>grTHA</string>
		<string>grDA</string>
		<string>grDHA</string>
		<string>grNA</string>
		<string>grPA</string>
		<string>grPHA</string>
		<string>grBA</string>
		<string>grBHA</string>
		<string>grMA</string>
		<string>grYA</string>
		<string>grRA</string>
		<string>grLA</string>
		<string>grLxA</string>
		<string>grVA</string>
		<string>grSxA</string>
		<string>grSA</string>
		<string>grHA</string>
		<string>grKHxA</string>
		<string>grGxA</string>
		<string>grJxA</string>
		<string>grRRA</string>
		<string>grPHxA</string>
		<string>grIri</string>
		<string>grUra</string>
		<string>grEkonkar</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>uni208D</string>
		<string>uni208E</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>uni207D</string>
		<string>uni207E</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>uni2010</string>
		<string>uni2015</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>danda</string>
		<string>dbldanda</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2007</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>grNukta</string>
		<string>grmAI_Bindi</string>
		<string>grmAU_Bindi</string>
		<string>grBA_RAc2</string>
		<string>grBHA_RAc2</string>
		<string>grCA_RAc2</string>
		<string>grCHA_RAc2</string>
		<string>grDA_RAc2</string>
		<string>grDDA_RAc2</string>
		<string>grDDHA_RAc2</string>
		<string>grDHA_RAc2</string>
		<string>grmEE_Bindi</string>
		<string>grPHxA_RAc2</string>
		<string>grGA_RAc2</string>
		<string>grGHA_RAc2</string>
		<string>grGxA_RAc2</string>
		<string>grRAc2</string>
		<string>grHA_RAc2</string>
		<string>grHeadline</string>
		<string>grHeadline_Addak</string>
		<string>grHeadline_Bindi</string>
		<string>grHeadline_Visarga</string>
		<string>grmII_Bindi</string>
		<string>grJA_RAc2</string>
		<string>grJHA_RAc2</string>
		<string>grKA_RAc2</string>
		<string>grKHA_RAc2</string>
		<string>grLA_RAc2</string>
		<string>grLxA_RAc2</string>
		<string>grMA_RAc2</string>
		<string>grNA_RAc2</string>
		<string>grNGA_RAc2</string>
		<string>grNNA_RAc2</string>
		<string>grNYA_RAc2</string>
		<string>grmOO_Bindi</string>
		<string>grPA_RAc2</string>
		<string>grPHA_RAc2</string>
		<string>grRA_RAc2</string>
		<string>grRRA_RAc2</string>
		<string>grSA_RAc2</string>
		<string>grSxA_RAc2</string>
		<string>grTA_RAc2</string>
		<string>grTHA_RAc2</string>
		<string>grTTHA_RAc2</string>
		<string>grVA_RAc2</string>
		<string>grYA_RAc2</string>
		<string>grJxA_RAc2</string>
		<string>grHAc2</string>
		<string>grVAc2</string>
		<string>grTTA_RAc2</string>
		<string>grYAc2</string>
		<string>grmUU.alt</string>
		<string>grmU.alt</string>
		<string>grKHxA_RAc2</string>
		<string>grGA</string>
		<string>grZero</string>
		<string>grOne</string>
		<string>grTwo</string>
		<string>grThree</string>
		<string>grFour</string>
		<string>grFive</string>
		<string>grSix</string>
		<string>grSeven</string>
		<string>grEight</string>
		<string>grNine</string>
		<string>grAdakbindi</string>
		<string>grBindi</string>
		<string>grVisarga</string>
		<string>grmAA</string>
		<string>grmI</string>
		<string>grmII</string>
		<string>grmU</string>
		<string>grmUU</string>
		<string>grmEE</string>
		<string>grmAI</string>
		<string>grmOO</string>
		<string>grmAU</string>
		<string>grVirama</string>
		<string>grUdaat</string>
		<string>grTippi</string>
		<string>grAddak</string>
		<string>grYakash</string>
		<string>plusminus</string>
		<string>aring</string>
		<string>indianrupee</string>
		<string>abreve</string>
		<string>less</string>
		<string>ograve</string>
		<string>breve</string>
		<string>dollar</string>
		<string>uring</string>
		<string>circumflex</string>
		<string>lozenge</string>
		<string>Ntilde</string>
		<string>Uogonek</string>
		<string>Yacute</string>
		<string>Atilde</string>
		<string>perthousand</string>
		<string>Sacute</string>
		<string>one.superior</string>
		<string>kcommaaccent</string>
		<string>Zcaron</string>
		<string>copyright</string>
		<string>zdotaccent</string>
		<string>Scommaaccent</string>
		<string>Scedilla</string>
		<string>onequarter</string>
		<string>ccaron</string>
		<string>edieresis</string>
		<string>Zacute</string>
		<string>Eacute</string>
		<string>ohungarumlaut</string>
		<string>Aogonek</string>
		<string>ocircumflex</string>
		<string>Euro</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>D</string>
		<string>uacute</string>
		<string>Idotaccent</string>
		<string>cacute</string>
		<string>L</string>
		<string>Tcedilla</string>
		<string>dottedcircle</string>
		<string>P</string>
		<string>five</string>
		<string>T</string>
		<string>dcroat</string>
		<string>Ncaron</string>
		<string>Idieresis</string>
		<string>cedilla</string>
		<string>Udieresis</string>
		<string>acute</string>
		<string>omacron</string>
		<string>multiply</string>
		<string>bar</string>
		<string>d</string>
		<string>lcaron</string>
		<string>zerowidthjoiner</string>
		<string>h</string>
		<string>OE</string>
		<string>iogonek</string>
		<string>ydieresis</string>
		<string>l</string>
		<string>Igrave</string>
		<string>amacron</string>
		<string>p</string>
		<string>thorn</string>
		<string>gcommaaccent</string>
		<string>iacute</string>
		<string>two.superior</string>
		<string>e</string>
		<string>aogonek</string>
		<string>Oslash</string>
		<string>Kcommaaccent</string>
		<string>ordfeminine</string>
		<string>sterling</string>
		<string>tilde</string>
		<string>rcaron</string>
		<string>Ccaron</string>
		<string>Q</string>
		<string>zero</string>
		<string>logicalnot</string>
		<string>X</string>
		<string>E</string>
		<string>dotlessi</string>
		<string>Scaron</string>
		<string>lessequal</string>
		<string>egrave</string>
		<string>ccedilla</string>
		<string>Adieresis</string>
		<string>degree</string>
		<string>Odieresis</string>
		<string>Ohungarumlaut</string>
		<string>section</string>
		<string>Cacute</string>
		<string>macron</string>
		<string>Icircumflex</string>
		<string>onehalf</string>
		<string>ntilde</string>
		<string>tcommaaccent</string>
		<string>ucircumflex</string>
		<string>Gcommaaccent</string>
		<string>atilde</string>
		<string>Acircumflex</string>
		<string>sacute</string>
		<string>AE</string>
		<string>dotaccent</string>
		<string>ncommaaccent</string>
		<string>Ecaron</string>
		<string>gbreve</string>
		<string>C</string>
		<string>zcaron</string>
		<string>G</string>
		<string>Lcaron</string>
		<string>scommaaccent</string>
		<string>Omega.math</string>
		<string>O</string>
		<string>S</string>
		<string>Tcommaaccent</string>
		<string>Ncommaaccent</string>
		<string>W</string>
		<string>x</string>
		<string>zacute</string>
		<string>r</string>
		<string>fi</string>
		<string>Tcaron</string>
		<string>Uhungarumlaut</string>
		<string>Aring</string>
		<string>z</string>
		<string>g</string>
		<string>imacron</string>
		<string>rcommaaccent</string>
		<string>oe</string>
		<string>Lcommaaccent</string>
		<string>equal</string>
		<string>o</string>
		<string>Edieresis</string>
		<string>Ugrave</string>
		<string>plus</string>
		<string>Agrave</string>
		<string>U</string>
		<string>eth</string>
		<string>tcaron</string>
		<string>Edotaccent</string>
		<string>Abreve</string>
		<string>Racute</string>
		<string>uhungarumlaut</string>
		<string>Egrave</string>
		<string>Rcaron</string>
		<string>dagger</string>
		<string>divide</string>
		<string>yen</string>
		<string>radical</string>
		<string>integral</string>
		<string>igrave</string>
		<string>one</string>
		<string>acircumflex</string>
		<string>asciitilde</string>
		<string>mu.math</string>
		<string>Lacute</string>
		<string>trademark</string>
		<string>summation</string>
		<string>nacute</string>
		<string>ring</string>
		<string>macronmod</string>
		<string>hungarumlaut</string>
		<string>Gbreve</string>
		<string>ogonek</string>
		<string>Ecircumflex</string>
		<string>partialdiff</string>
		<string>brokenbar</string>
		<string>Aacute</string>
		<string>cent</string>
		<string>dcaron</string>
		<string>uogonek</string>
		<string>fraction</string>
		<string>lslash</string>
		<string>otilde</string>
		<string>pi</string>
		<string>scaron</string>
		<string>ordmasculine</string>
		<string>Omacron</string>
		<string>B</string>
		<string>ruble</string>
		<string>Rcommaaccent</string>
		<string>registered</string>
		<string>J</string>
		<string>Ydieresis</string>
		<string>c</string>
		<string>Otilde</string>
		<string>Amacron</string>
		<string>R</string>
		<string>turkishlira</string>
		<string>V</string>
		<string>Delta.math</string>
		<string>asciicircum</string>
		<string>Z</string>
		<string>fl</string>
		<string>ampersand</string>
		<string>Oacute</string>
		<string>greaterequal</string>
		<string>b</string>
		<string>f</string>
		<string>ITF</string>
		<string>three.superior</string>
		<string>j</string>
		<string>n</string>
		<string>i</string>
		<string>udieresis</string>
		<string>paragraph</string>
		<string>nine</string>
		<string>three</string>
		<string>v</string>
		<string>Iacute</string>
		<string>k</string>
		<string>Ccedilla</string>
		<string>idieresis</string>
		<string>minus</string>
		<string>bulletoperator</string>
		<string>seven</string>
		<string>Eogonek</string>
		<string>ae</string>
		<string>agrave</string>
		<string>Zdotaccent</string>
		<string>zerowidthnonjoiner</string>
		<string>m</string>
		<string>lcommaaccent</string>
		<string>Dcaron</string>
		<string>currency</string>
		<string>ugrave</string>
		<string>Ucircumflex</string>
		<string>Uring</string>
		<string>adieresis</string>
		<string>Lslash</string>
		<string>t</string>
		<string>greater</string>
		<string>racute</string>
		<string>litre</string>
		<string>florin</string>
		<string>Uacute</string>
		<string>F</string>
		<string>percent</string>
		<string>s</string>
		<string>threequarters</string>
		<string>I</string>
		<string>Umacron</string>
		<string>Emacron</string>
		<string>yacute</string>
		<string>lacute</string>
		<string>Dcroat</string>
		<string>caron</string>
		<string>odieresis</string>
		<string>notequal</string>
		<string>four</string>
		<string>A</string>
		<string>product</string>
		<string>umacron</string>
		<string>w</string>
		<string>divisionslash</string>
		<string>approxequal</string>
		<string>Imacron</string>
		<string>Thorn</string>
		<string>scedilla</string>
		<string>M</string>
		<string>aacute</string>
		<string>edotaccent</string>
		<string>icircumflex</string>
		<string>oslash</string>
		<string>Iogonek</string>
		<string>eogonek</string>
		<string>emacron</string>
		<string>two</string>
		<string>Y</string>
		<string>eacute</string>
		<string>Eth</string>
		<string>N</string>
		<string>six</string>
		<string>grave</string>
		<string>germandbls</string>
		<string>a</string>
		<string>dieresis</string>
		<string>eight</string>
		<string>Nacute</string>
		<string>Ocircumflex</string>
		<string>K</string>
		<string>infinity</string>
		<string>tcedilla</string>
		<string>q</string>
		<string>Ograve</string>
		<string>u</string>
		<string>H</string>
		<string>daggerdbl</string>
		<string>y</string>
		<string>ncaron</string>
		<string>at</string>
		<string>oacute</string>
	</array>
</dict>
</plist>
