<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Delta.math</key>
	<string>D_elta.math.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Omega.math</key>
	<string>O_mega.math.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>grA</key>
	<string>grA_.glif</string>
	<key>grAA</key>
	<string>grA_A_.glif</string>
	<key>grAI</key>
	<string>grA_I_.glif</string>
	<key>grAU</key>
	<string>grA_U_.glif</string>
	<key>grBA</key>
	<string>grB_A_.glif</string>
	<key>grBA_RAc2</key>
	<string>grB_A__R_A_c2.glif</string>
	<key>grBHA</key>
	<string>grB_H_A_.glif</string>
	<key>grBHA_RAc2</key>
	<string>grB_H_A__R_A_c2.glif</string>
	<key>grCA_RAc2</key>
	<string>grC_A__R_A_c2.glif</string>
	<key>grCHA</key>
	<string>grC_H_A_.glif</string>
	<key>grCHA_RAc2</key>
	<string>grC_H_A__R_A_c2.glif</string>
	<key>grDA</key>
	<string>grD_A_.glif</string>
	<key>grDA_RAc2</key>
	<string>grD_A__R_A_c2.glif</string>
	<key>grDDA</key>
	<string>grD_D_A_.glif</string>
	<key>grDDA_RAc2</key>
	<string>grD_D_A__R_A_c2.glif</string>
	<key>grDDHA</key>
	<string>grD_D_H_A_.glif</string>
	<key>grDDHA_RAc2</key>
	<string>grD_D_H_A__R_A_c2.glif</string>
	<key>grDHA</key>
	<string>grD_H_A_.glif</string>
	<key>grDHA_RAc2</key>
	<string>grD_H_A__R_A_c2.glif</string>
	<key>grEE</key>
	<string>grE_E_.glif</string>
	<key>grEkonkar</key>
	<string>grE_konkar.glif</string>
	<key>grFour</key>
	<string>grF_our.glif</string>
	<key>grGA_RAc2</key>
	<string>grG_A__R_A_c2.glif</string>
	<key>grGHA</key>
	<string>grG_H_A_.glif</string>
	<key>grGHA_RAc2</key>
	<string>grG_H_A__R_A_c2.glif</string>
	<key>grGxA_RAc2</key>
	<string>grG_xA__R_A_c2.glif</string>
	<key>grHA_RAc2</key>
	<string>grH_A__R_A_c2.glif</string>
	<key>grI</key>
	<string>grI_.glif</string>
	<key>grII</key>
	<string>grI_I_.glif</string>
	<key>grJA_RAc2</key>
	<string>grJ_A__R_A_c2.glif</string>
	<key>grJHA</key>
	<string>grJ_H_A_.glif</string>
	<key>grJHA_RAc2</key>
	<string>grJ_H_A__R_A_c2.glif</string>
	<key>grJxA_RAc2</key>
	<string>grJ_xA__R_A_c2.glif</string>
	<key>grKA</key>
	<string>grK_A_.glif</string>
	<key>grKA_RAc2</key>
	<string>grK_A__R_A_c2.glif</string>
	<key>grKHA</key>
	<string>grK_H_A_.glif</string>
	<key>grKHA_RAc2</key>
	<string>grK_H_A__R_A_c2.glif</string>
	<key>grKHxA</key>
	<string>grK_H_xA_.glif</string>
	<key>grKHxA_RAc2</key>
	<string>grK_H_xA__R_A_c2.glif</string>
	<key>grLA</key>
	<string>grL_A_.glif</string>
	<key>grLA_RAc2</key>
	<string>grL_A__R_A_c2.glif</string>
	<key>grLxA</key>
	<string>grL_xA_.glif</string>
	<key>grLxA_RAc2</key>
	<string>grL_xA__R_A_c2.glif</string>
	<key>grMA</key>
	<string>grM_A_.glif</string>
	<key>grMA_RAc2</key>
	<string>grM_A__R_A_c2.glif</string>
	<key>grNA</key>
	<string>grN_A_.glif</string>
	<key>grNA_RAc2</key>
	<string>grN_A__R_A_c2.glif</string>
	<key>grNGA</key>
	<string>grN_G_A_.glif</string>
	<key>grNGA_RAc2</key>
	<string>grN_G_A__R_A_c2.glif</string>
	<key>grNNA_RAc2</key>
	<string>grN_N_A__R_A_c2.glif</string>
	<key>grNYA_RAc2</key>
	<string>grN_Y_A__R_A_c2.glif</string>
	<key>grOO</key>
	<string>grO_O_.glif</string>
	<key>grPA_RAc2</key>
	<string>grP_A__R_A_c2.glif</string>
	<key>grPHA</key>
	<string>grP_H_A_.glif</string>
	<key>grPHA_RAc2</key>
	<string>grP_H_A__R_A_c2.glif</string>
	<key>grPHxA</key>
	<string>grP_H_xA_.glif</string>
	<key>grPHxA_RAc2</key>
	<string>grP_H_xA__R_A_c2.glif</string>
	<key>grRA_RAc2</key>
	<string>grR_A__R_A_c2.glif</string>
	<key>grRAc2</key>
	<string>grR_A_c2.glif</string>
	<key>grRRA</key>
	<string>grR_R_A_.glif</string>
	<key>grRRA_RAc2</key>
	<string>grR_R_A__R_A_c2.glif</string>
	<key>grSA</key>
	<string>grS_A_.glif</string>
	<key>grSA_RAc2</key>
	<string>grS_A__R_A_c2.glif</string>
	<key>grSxA</key>
	<string>grS_xA_.glif</string>
	<key>grSxA_RAc2</key>
	<string>grS_xA__R_A_c2.glif</string>
	<key>grTA</key>
	<string>grT_A_.glif</string>
	<key>grTA_RAc2</key>
	<string>grT_A__R_A_c2.glif</string>
	<key>grTHA</key>
	<string>grT_H_A_.glif</string>
	<key>grTHA_RAc2</key>
	<string>grT_H_A__R_A_c2.glif</string>
	<key>grTTA_RAc2</key>
	<string>grT_T_A__R_A_c2.glif</string>
	<key>grTTHA</key>
	<string>grT_T_H_A_.glif</string>
	<key>grTTHA_RAc2</key>
	<string>grT_T_H_A__R_A_c2.glif</string>
	<key>grThree</key>
	<string>grT_hree.glif</string>
	<key>grTwo</key>
	<string>grT_wo.glif</string>
	<key>grU</key>
	<string>grU_.glif</string>
	<key>grUU</key>
	<string>grU_U_.glif</string>
	<key>grUra</key>
	<string>grU_ra.glif</string>
	<key>grVA_RAc2</key>
	<string>grV_A__R_A_c2.glif</string>
	<key>grYA</key>
	<string>grY_A_.glif</string>
	<key>grYA_RAc2</key>
	<string>grY_A__R_A_c2.glif</string>
	<key>grYAc2</key>
	<string>grY_A_c2.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>grmAU</key>
	<string>grmA_U_.glif</string>
	<key>grmAU_Bindi</key>
	<string>grmA_U__B_indi.glif</string>
	<key>grmI</key>
	<string>grmI_.glif</string>
	<key>grmII</key>
	<string>grmI_I_.glif</string>
	<key>grmII_Bindi</key>
	<string>grmI_I__B_indi.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mu.math</key>
	<string>mu.math.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>turkishlira</key>
	<string>turkishlira.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uni207D</key>
	<string>uni207D_.glif</string>
	<key>uni207E</key>
	<string>uni207E_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
</dict>
</plist>
